body,
html {
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
}

.search-wrapper {
  position: absolute;
  float: right;
  font-family: Roboto;
  padding: 0 11px 0 13px;
  margin-left: 25px;
  margin-top: 24px;
  text-overflow: ellipsis;
  width: 450px;
  z-index: 10;
}
.field {
  border: 1px solid transparent;
  border-radius: 4px;
  height: 26px;
}
